// start _colors.scss

$color-white--3: #CCCCCC;
$color-white--2: #DDDDDD;
$color-white--1: #EEEEEE;
$color-white--0: #FFFFFF;

$color-black--0: #262626;
$color-black--1: #555555;
$color-black--2: #777777;
$color-black--3: #999999;

$color-blue--primary: #DCECFE;
$color-pink--primary: #F5E1EE;

// end _colors.scss