// start _layout.scss

@mixin vertical-parent {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

@mixin vertical-center {
	@include position(relative, 50% null null null);
	@include transform(translateY(-50%));
}

.vertical-center {
	@include vertical-center;
}

// end _layout.scss