// start _layout.scss

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	// Fallback
	background-color: #DCECFE;

	$line: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.05)) repeat-y;
	$line-size: 2px auto;

	// Real deal
	@include background($line, $line, $line, $line, $line, linear-gradient(120deg, #DCECFE 0%, #F5E1EE 100%) no-repeat);
	background-position: 10%, 30%, 50%, 70%, 90%, 0;
	background-size: $line-size, $line-size, $line-size, $line-size, $line-size, 100% auto;
	background-attachment: fixed;
}

.intro {
	width: 100%;
	height: 100%;
	color: $color-white--0;

	@include vertical-parent;

	h1 {
		font-size: em(116px);
		line-height: 1.33;

		@media screen and (max-width: $bp-lg) {
			font-size: em(96px);
		}

		@media screen and (max-width: $bp-md) {
			font-size: em(80px);
		}

		@media screen and (max-width: $bp-sm) {
			font-size: em(72px);
		}
	}

	h1:nth-child(2) {
		color: $color-black--2;

		span {
			text-shadow: 0 em(4px) em(12px) rgba(0, 0, 0, 0.25);
		}
	}

	span {
		position: relative;

		display: inline-block;
		width: em(18px);

		text-transform: uppercase;
		text-align: center;
	}

	@media screen and (max-width: $bp-md) {
		padding: 0 em(56px);
	}
}

.about {
	height: em(420px);
	margin: em(160px) 0;

	color: $color-black--2;

	.container {
		height: 100%;
	}

	.content {
		float: left;
	}

	p {
		max-width: em(440px);
		color: $color-black--3;
	}

	a {
		display: block;
		text-decoration: none;

		p {
			display: inline-block;
			padding: 0;
			line-height: 1.6;
			border-bottom: em(2px) solid $color-white--3;
		}
	}

	img {
		width: em(420px);
		height: em(420px);
		float: right;

		@include vertical-center;
	}

	@media screen and (max-width: $bp-md) {
		height: em(960px);
		margin: 0 0 em(160px) 0;

		.content {
			position: relative;
			top: 0;
			@include transform(translateY(0));

			float: none;
			padding: 0 em(56px);

			h2 {
				font-size: em(36px);
				text-align: center;
			}

			p  {
				margin-left: auto;
				margin-right: auto;
			}

			a {
				text-align: center;
			}
		}

		img {
			float: none;

			display: block;
			margin: em(128px) auto 0 auto;

			text-align: center;
		}
	}
}

.projects {
	margin: em(320px) 0 em(80px) 0;
}

.load-more {
	display: block;
	width: 100%;
	margin: em(48px) auto em(18px) auto;
	
	color: $color-black--3;

	font-size: em(20px);
	font-weight: 700;
	letter-spacing: 0.125em;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	cursor: pointer;
	
	@include transition(all, $animation-speed--default);

	&:hover {
		color: $color-black--2;
	}
}

.more-work,
.contact h3 {
	margin: em(36px) auto 0 auto;
	color: $color-black--2;

	letter-spacing: 0.05em;
	line-height: 1.6;
	text-align: center;
	text-transform: none;

	a {
		text-decoration: none;
		border-bottom: 2px solid $color-black--1;
	}
}

.isLoaded {
	margin-top: em(96px);
}

.subscribe {
	margin: em(180px) 0 em(80px) 0;
	padding: em(120px) 0;
	
	text-align: center;

	background: $color-black--0;
	color: $color-white--0;

	@include low3D;

	h2 {
		margin-bottom: em(4px);

		font-size: em(36px);
		letter-spacing: 0.25em;
		line-height: 1.33;

		@media screen and (max-width: $bp-md) {
			margin-bottom: em(12px);
		}
	}

	h4,
	h5 {
		font-weight: 600;
		letter-spacing: 0.05em;

		opacity: 0.66;
	}

	#mce-responses {
		margin: em(18px) auto;

		font-size: em(16px);
		font-weight: 600;
		text-align: center;
		letter-spacing: 0.05em;

		#mce-error-response {
			color: #e74c3c;
		}

		#mce-success-response {
			color: #2ecc71;
		}

		a {
			display: none;
		}
	}

	@media screen and (max-width: $bp-md) {
		padding: em(120px) em(56px);
	}
}

.contact {
	padding: em(20px) 0 em(120px) 0;

	@media screen and (max-width: $bp-md) {
		padding: em(20px) em(56px) em(120px) em(56px);
	}
}

.container {
	width: 80%;
	max-width: em(1200px);
	margin: 0 auto;

	@media screen and (max-width: $bp-lg) {
		width: 90%;
	}

	@media screen and (max-width: $bp-md) {
		width: 100%;
	}
}

// end _layout.scss