// start _layout.scss

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	// Fallback
	background-color: #DCECFE;

	$line: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.05)) repeat-y;
	$line-size: 2px auto;

	// Real deal
	@include background($line, $line, $line, $line, $line, linear-gradient(120deg, #DCECFE 0%, #F5E1EE 100%) no-repeat);
	background-position: 10%, 30%, 50%, 70%, 90%, 0;
	background-size: $line-size, $line-size, $line-size, $line-size, $line-size, 100% auto;
	background-attachment: fixed;
}

.intro {
	width: 100%;
	height: 100%;
	color: $color-white--0;

	@include vertical-parent;

	h1 {
		font-size: em(116px);
		line-height: 1.33;
	}

	h1:nth-child(2) {
		color: $color-black--2;

		span {
			text-shadow: 0 em(4px) em(12px) rgba(0, 0, 0, 0.25);
		}
	}

	span {
		display: inline-block;
		width: em(18px);

		text-transform: uppercase;
		text-align: center;

		// border: 1px solid red;
	}
}

.about {
	height: em(420px);
	margin: em(160px) 0;

	color: $color-black--2;

	.container {
		height: 100%;
	}

	.content {
		float: left;
	}

	p {
		max-width: em(500px);
		color: $color-black--3;
	}

	img {
		width: em(420px);
		height: em(420px);
		float: right;

		@include vertical-center;
	}
}

.projects {
	margin: em(320px) 0;
}

.load-more {
	display: block;
	width: 100%;
	margin: 0 auto em(18px) auto;
	
	color: $color-black--3;

	font-size: em(20px);
	font-weight: 700;
	letter-spacing: 0.125em;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	@include transition(all, $animation-speed--default);
	&:hover {
		color: $color-black--2;
	}
}

.more-work {
	color: $color-black--2;

	letter-spacing: 0.05em;
	text-align: center;
	text-transform: none;

	a {
		text-decoration: none;
		border-bottom: 2px solid $color-black--1;
	}
}

.container {
	width: 80%;
	max-width: em(1200px);
	margin: auto;
}

// end _layout.scss