// start _typography.scss

html {
	font: $font-weight--primary normal 100% / 1.4 $font-family--primary;
}

h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;

	font-family: $font-family--primary;
	font-weight: 700;
	line-height: 1;
}

h1 {
	margin: 0;
	padding: 0;

	font-family: $font-family--primary;
	font-size: em(64px);
	font-weight: 800;
	line-height: 1;
	text-transform: uppercase;
}

h2 {
	font-size: em(48px);
	letter-spacing: 0.125em;
	text-transform: uppercase;
}

h3 {
	font-size: em(24px);
	text-transform: uppercase;
}

h4 {
	font-size: em(18px);
}

p {
	max-width: em(600px);
	margin: em(10px) 0;
	padding: 0;

	font-family: $font-family--primary;
	font-size: em(20px);
	font-weight: 600;
	line-height: 1.8;
}

a {
	color: $color-black--0;
	text-decoration: underline;
}

// end _typography.scss