// Write Code Here
.intro {
	@include size(100% 100%);
	@include zero-box;
	@include background(url(../images/background.jpg) no-repeat center center scroll);
	background-size: cover;
	color: $color-white;
	
	.v-container {
		@include size(auto auto);
		@include position(relative, 60% null null null);
		margin-left: 7.5%;
		
		h1 {
			font-size: em(108);
			@include zero-box;
			line-height: 1;
			text-transform: uppercase;
			
			span {
				color: $color-blue;
			}
		}
		
		h2 { 
			@include zero-box;
			line-height: 1.33;
			letter-spacing: em(1);
			opacity: 0.8;
		}
	}
}

.about {
	
}

.portfolio {
	
}

.bar-layer {
	
}

.contact {
	
}