// Form.scss

form {
	margin-top: 4%;

	.mc-field-group {
		display: inline-block;
	}
}

input {
	display: inline-block;
	@include size(em(400px) em(50px));
	@include margin(em(5px) auto);
	@include padding(0 em(24px));
	
	color: $color-black;
	background-color: $color-white;
	
	border: 0;
	border-radius: 0;
	vertical-align: middle;
	letter-spacing: 0.125em;

	font-family: $title-font;
	@include font-sw(em(16px), $default-font-weight);
	
	text-align: left;
	outline: none;

	@extend %transition;

	&:focus {
		@include margin(em(3px) auto em(7px));
		box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
	}
}