button {
	@include size(em(200px) em(50px));
	
	color: $color-white;
	background-color: $color-dodgerblue;

	font-family: $title-font;
	@include font-sw(em(16px), $default-font-weight);

	border: 0;
	border-radius: $border-radius;

	outline: none;
	text-transform: uppercase;

	@extend %transition;

	&:hover { background-color: shade($color-dodgerblue, 10%); }
}