// start _featured.scss

.featured {
	width: 100%;
	max-width: em(600px);
	margin: em(40px) auto em(240px) auto;
	padding: 0 em(16px);

	font-size: em(18px);
	text-align: center;

	color: $color-black--2;


	h4 {
		font-weight: 600;
	}

	.column {
		@include span-columns(6);
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		margin: em(16px) 0;
	}

	li a {
		font-weight: 600;
		text-decoration: none;
		color: $color-black--2;
		border-bottom: 2px solid rgba(0, 0, 0, 0.15);
		@include transition(all, $animation-speed--default);

		&:hover {
			border-bottom: 2px solid rgba(0, 0, 0, 0.33);
		}
	}
}

// end _featured.scss