@import "grid/_grid-settings";
@import "grid/neat";

.row { @include row(); }

.container {
	width: em(800px);	
	@include outer-container(90%);
	@include margin(0 auto);
}

.content {
	width: 100%;
	@include vertical-center;
	text-align: center;

	div#weeks, div#days, div#hours, div#minutes, div#seconds {
		@include span-columns(2);
	}

	div.row {
		width: 80%;
		max-width: em(1000px);
		@include margin(0 auto);
	}

	h1, h2, h4 {
		text-transform: uppercase;
		letter-spacing: 0.5em;
	}

	h4 {
		// text-align: left;
	}

	h2 {
		margin-bottom: em(25px);
	}

	h1 {
		// text-align: left;
		font-size: em(128px);
		letter-spacing: 0.025em;
		background: url(../images/trees.jpeg) no-repeat;
   		-webkit-background-clip: text;
   		-webkit-text-fill-color: transparent;
	}

	#weeks h1 {
		background-position: 15% center;
	}

	#days h1 {
		background-position: 30% center;
	}

	#hours h1 {
		background-position: 45% center;
	}

	#minutes h1 {
		background-position: 60% center;
	}

	#seconds h1 {
		background-position: 75% center;
	}
}