// start _navigation.scss

.navigation {
	height: 100%;
	float: left;
	border: 1px solid red;

	.hamburger {
		position: relative;
		top: 20%;
	}

	h2 {
		color: $color-black--2;
		
		opacity: 0.33;

		@include transform(rotate(-90deg));
		// transform-origin: left top 0;
	}

	#header-about {
		position: relative;
		top: 100%;
	}
}

// end _navigation.scss