// start _navigation.scss

.hamburger {
	position: relative;
	top: 10vh;
	left: 5vw;

	margin: 0;
	padding: 0;
}

h2.header {
	position: relative;
	left: 5vw;

	margin: 0;
	padding: 0;

	line-height: 1;

	color: $color-black--2;
	
	opacity: 0.33;

	@include transform(rotate(-90deg));
	transform-origin: left top 0;

	@media screen and (max-width: $bp-lg) {
		display: none;
	}
}

#header-about {
	top: em(48px);
}

#header-projects {
	top: em(72px);
}

#header-contact {
	top: em(96px);
}

.navigation {
	// display: inline-block;
	// width: em(500px);
	// height: 100%;
}

// end _navigation.scss