// start _navigation.scss
.hamburger {
    position: absolute;
    top: 10vh;
    left: 5vw;
    margin: 0;
    padding: 0;
}

.is-fixed {
	position: fixed;
}

.hamburger-white {
	span.hamburger-inner,
	span.hamburger-inner::before,
	span.hamburger-inner::after {
		background-color: $color-white--0;
	}
}

nav {
    ul {
        margin: 0;
        padding: 0;

        list-style: none;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 em(32px);

            font-size: em(28px);
            font-weight: 700;

            @media screen and (max-width: $bp-md) {
                display: block;
                margin: em(48px) auto;
                font-size: em(36px);
            }
        }

        a {
            color: $color-white--0;
            // text-transform: uppercase;
            text-decoration: none;
            opacity: 0.7;
            letter-spacing: 0.05em;
            border-bottom: em(2px) solid $color-black--0;
        }

        a.active, a:hover {
            opacity: 1;
            border-bottom: em(2px) solid $color-white--0;
            @include transition(all, $animation-speed--default);
        }
    }
}


h2.header {
    position: relative;
    left: 5vw;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: $color-black--2;
    opacity: 0.33;
    @include transform(rotate(-90deg));
    transform-origin: left top 0;

    @media screen and (max-width: $bp-lg) {
        display: none;
    }
}

#header-about {
    top: em(48px);
}

#header-projects {
    top: em(72px);
}

#header-contact {
    top: em(96px);
}

.sidr {
    position: fixed;
    top: em(-720px);
    z-index: $z-index--menu;
    
    display: block;
    width: 100%;
    height: em(640px);
    
    background: $color-black--0;
    color: $color-white--0;

    overflow-x: hidden;
    overflow-y: auto;

    @include transform(translateZ(0));
    @include low3D;

    @media screen and (max-width: $bp-md) {
        top: -120%;
        height: 100%;
    }
}


.sidr.left {
    left: em(-800px);
    right: auto;
}

// end _navigation.scss
