.portfolio {
	background-color: $color-gallery;
	color: $color-mineshaft;
	font-size: 1.25em;
	@include padding(2.86em 0);
}

.portfolio-show {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	
	.show-panel {
		display: inline-block;
		position: relative;
		overflow: hidden;
		height: 15vw;
		background-color: $color-black !important;
		background-size: cover !important;
		// @include transition(all $animation-duration $animation-timing);
		// @include transition(all 200ms ease);
		
		&:hover {
			.text-box {
				opacity: 1;
			}
		}
	}
	
	&::after {
		display: block;
		height: 0;
		content: "";
		clear: both;
		overflow: hidden;
	}
	
	.text-box {
		width: 100%;
		height: 100%;
		background-color: rgba(19, 19, 19, 0.75);
		color: $color-white;
		opacity: 0;
		@include transition(all 200ms ease);
	}	
	
	.panel-normal {
		width: 20%;
		float: left;
	}
	
	.panel-wide {
		width: 40%;
		float: left;
	}
	
	.panel-long {
		width: 20%;
		height: 30vw;
		float: right;
	}	
}

/* CUSTOM IMAGES */
#project300ui {
	background: url(../images/portfolio/300ui.jpg) no-repeat center top scroll;
}

#projectinfuture {
	background: url(../images/portfolio/infuture.jpg) no-repeat center top scroll;
}

#project2014 {
	background: url(../images/portfolio/2014.jpg) no-repeat center top scroll;
}

#project100i {
	background: url(../images/portfolio/100i.jpg) no-repeat center top scroll;
}

#projectcbpo {
	background: url(../images/portfolio/cbpo.jpg) no-repeat center top scroll;
}

#projectctctf {
	background: url(../images/portfolio/ctctf.jpg) no-repeat center top scroll;
}

#projectghseoul {
	background: url(../images/portfolio/ghseoul.jpg) no-repeat center top scroll;
}

#projectleangap {
	background: url(../images/portfolio/leangap.jpg) no-repeat center top scroll;
}